USE [master]
GO
/****** Object:  Database [gsbrapports2016]    Script Date: 17/04/2024 12:40:39 ******/
CREATE DATABASE [gsbrapports2016]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gsbrapports2016', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\gsbrapports2016.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gsbrapports2016_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\gsbrapports2016_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gsbrapports2016].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gsbrapports2016]
GO
/****** Object:  Table [dbo].[famille]    Script Date: 17/04/2024 12:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[famille](
	[id] [varchar](10) NOT NULL,
	[libelle] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medecin]    Script Date: 17/04/2024 12:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medecin](
	[id] [int] NOT NULL,
	[nom] [varchar](30) NOT NULL,
	[prenom] [varchar](30) NOT NULL,
	[adresse] [varchar](80) NOT NULL,
	[tel] [varchar](15) NULL,
	[specialiteComplementaire] [varchar](50) NULL,
	[departement] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicament]    Script Date: 17/04/2024 12:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicament](
	[id] [varchar](30) NOT NULL,
	[nomCommercial] [varchar](80) NOT NULL,
	[idFamille] [varchar](10) NOT NULL,
	[composition] [varchar](100) NOT NULL,
	[effets] [varchar](100) NOT NULL,
	[contreIndications] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offrir]    Script Date: 17/04/2024 12:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offrir](
	[idRapport] [int] NOT NULL,
	[idMedicament] [varchar](30) NOT NULL,
	[quantite] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRapport] ASC,
	[idMedicament] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rapport]    Script Date: 17/04/2024 12:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rapport](
	[id] [int] NOT NULL,
	[date] [date] NULL,
	[motif] [varchar](100) NULL,
	[bilan] [varchar](100) NULL,
	[idVisiteur] [char](4) NOT NULL,
	[idMedecin] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visiteur]    Script Date: 17/04/2024 12:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visiteur](
	[id] [char](4) NOT NULL,
	[nom] [char](30) NULL,
	[prenom] [char](30) NULL,
	[login] [char](20) NULL,
	[mdp] [char](20) NULL,
	[adresse] [char](30) NULL,
	[cp] [char](5) NULL,
	[ville] [char](30) NULL,
	[dateEmbauche] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[famille] ([id], [libelle]) VALUES (N'AA', N'Antalgiques en association')
INSERT [dbo].[famille] ([id], [libelle]) VALUES (N'AAA', N'Antalgiques antipyréques en association')
INSERT [dbo].[famille] ([id], [libelle]) VALUES (N'AAC', N'Antidépresseur d action centrale')
GO
INSERT [dbo].[medecin] ([id], [nom], [prenom], [adresse], [tel], [specialiteComplementaire], [departement]) VALUES (1, N'Cassonetse', N'Jordan', N'912  rue de la pointe NEUVILLE-LES-DAMES 01400', N'52525525', NULL, 2)
INSERT [dbo].[medecin] ([id], [nom], [prenom], [adresse], [tel], [specialiteComplementaire], [departement]) VALUES (2, N'Balittin', N'Rodolphe', N'28 rue des Epines BARENTON-SUR-SERRE 02270', N'782452190', NULL, 2)
INSERT [dbo].[medecin] ([id], [nom], [prenom], [adresse], [tel], [specialiteComplementaire], [departement]) VALUES (3, N'Chastidien', N'Mohammed', N'95 rue des Pigeons SAINT-CREPIN 05600', N'458192855', NULL, 5)
GO
INSERT [dbo].[medicament] ([id], [nomCommercial], [idFamille], [composition], [effets], [contreIndications]) VALUES (N'3MYC7', N'TRIMYCINE', N'CRT', N'Triamcinolone acétonide + Néomycine + Nystatine', N'Ce médicament est un corticoïde à  activité forte ou très forte associé à  un antibiotique et un ant', N'Ce médicament est contre-indiqué en cas d allergie à  l un des constituants  d infections de la peau')
INSERT [dbo].[medicament] ([id], [nomCommercial], [idFamille], [composition], [effets], [contreIndications]) VALUES (N'ADIMOL9', N'ADIMOL', N'ABP', N'Amoxicilline + Acide clavulanique', N'Ce médicament  plus puissant que les pénicillines simples  est utilisé pour traiter des infections b', N'Ce médicament est contre-indiqué en cas d allergie aux pénicillines ou aux céphalosporines.')
INSERT [dbo].[medicament] ([id], [nomCommercial], [idFamille], [composition], [effets], [contreIndications]) VALUES (N'AMOPIL7', N'AMOPIL', N'ABP', N'Amoxicilline', N'Ce médicament  plus puissant que les pénicillines simples  est utilisé pour traiter des infections b', N'Ce médicament est contre-indiqué en cas d allergie aux pénicillines. Il doit être administré avec pr')
GO
INSERT [dbo].[rapport] ([id], [date], [motif], [bilan], [idVisiteur], [idMedecin]) VALUES (1, CAST(N'2016-10-02' AS Date), N'Installation nouvelle', N'Jeune médecin découvrant les visiteurs', N'b59 ', 10)
INSERT [dbo].[rapport] ([id], [date], [motif], [bilan], [idVisiteur], [idMedecin]) VALUES (2, CAST(N'2016-10-02' AS Date), N'Demande du médecin', N'Jeune médecin découvrant les visiteurs', N'a131', 653)
INSERT [dbo].[rapport] ([id], [date], [motif], [bilan], [idVisiteur], [idMedecin]) VALUES (3, CAST(N'2016-10-02' AS Date), N'Prise de contact', N'Jeune médecin découvrant les visiteurs', N'd13 ', 110)
GO
INSERT [dbo].[visiteur] ([id], [nom], [prenom], [login], [mdp], [adresse], [cp], [ville], [dateEmbauche]) VALUES (N'a131', N'Villechalane                  ', N'Louis                         ', N'aribiA              ', N'aaaa                ', N'8 rue des Charmes             ', N'46000', N'Cahors                        ', CAST(N'2005-12-21' AS Date))
INSERT [dbo].[visiteur] ([id], [nom], [prenom], [login], [mdp], [adresse], [cp], [ville], [dateEmbauche]) VALUES (N'a17 ', N'Andre                         ', N'David                         ', N'dandre              ', N'oppg5               ', N'1 rue Petit                   ', N'46200', N'Lalbenque                     ', CAST(N'1998-11-23' AS Date))
INSERT [dbo].[visiteur] ([id], [nom], [prenom], [login], [mdp], [adresse], [cp], [ville], [dateEmbauche]) VALUES (N'a55 ', N'Bedos                         ', N'Christian                     ', N'cbedos              ', N'gmhxd               ', N'1 rue Peranud                 ', N'46250', N'Montcuq                       ', CAST(N'1995-01-12' AS Date))
GO
ALTER TABLE [dbo].[medecin] ADD  DEFAULT (NULL) FOR [tel]
GO
ALTER TABLE [dbo].[medecin] ADD  DEFAULT (NULL) FOR [specialiteComplementaire]
GO
ALTER TABLE [dbo].[offrir] ADD  DEFAULT (NULL) FOR [quantite]
GO
ALTER TABLE [dbo].[rapport] ADD  DEFAULT (NULL) FOR [date]
GO
ALTER TABLE [dbo].[rapport] ADD  DEFAULT (NULL) FOR [motif]
GO
ALTER TABLE [dbo].[rapport] ADD  DEFAULT (NULL) FOR [bilan]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [nom]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [prenom]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [login]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [mdp]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [adresse]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [cp]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [ville]
GO
ALTER TABLE [dbo].[visiteur] ADD  DEFAULT (NULL) FOR [dateEmbauche]
GO
ALTER TABLE [dbo].[medicament]  WITH CHECK ADD  CONSTRAINT [medicament_fk] FOREIGN KEY([idFamille])
REFERENCES [dbo].[famille] ([id])
GO
ALTER TABLE [dbo].[medicament] CHECK CONSTRAINT [medicament_fk]
GO
ALTER TABLE [dbo].[offrir]  WITH CHECK ADD  CONSTRAINT [offrir_fk1] FOREIGN KEY([idRapport])
REFERENCES [dbo].[rapport] ([id])
GO
ALTER TABLE [dbo].[offrir] CHECK CONSTRAINT [offrir_fk1]
GO
ALTER TABLE [dbo].[offrir]  WITH CHECK ADD  CONSTRAINT [offrir_fk2] FOREIGN KEY([idMedicament])
REFERENCES [dbo].[medicament] ([id])
GO
ALTER TABLE [dbo].[offrir] CHECK CONSTRAINT [offrir_fk2]
GO
ALTER TABLE [dbo].[rapport]  WITH CHECK ADD  CONSTRAINT [rapport_fk1] FOREIGN KEY([idVisiteur])
REFERENCES [dbo].[visiteur] ([id])
GO
ALTER TABLE [dbo].[rapport] CHECK CONSTRAINT [rapport_fk1]
GO
ALTER TABLE [dbo].[rapport]  WITH CHECK ADD  CONSTRAINT [rapport_fk2] FOREIGN KEY([idMedecin])
REFERENCES [dbo].[medecin] ([id])
GO
ALTER TABLE [dbo].[rapport] CHECK CONSTRAINT [rapport_fk2]
GO
/****** Object:  StoredProcedure [dbo].[GetMaxMedecinId]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetMaxMedecinId]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MAX(id) FROM dbo.medecin
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_Add]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_Add]
	-- Add the parameters for the stored procedure here
	@p_id INT,
	@p_nom VARCHAR(100),
	@p_prenom VARCHAR(100),
	@p_adresse VARCHAR(100),
	@p_tel INT,
	@p_specialiteComplementaire VARCHAR(100),
	@p_departement INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.medecin (id, nom, prenom, adresse, tel, specialiteComplementaire, departement) 
	VALUES (@p_id, @p_nom, @p_prenom, @p_adresse, @p_tel, @p_specialiteComplementaire, @p_departement);
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_Delete]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_Delete] 
	-- Add the parameters for the stored procedure here
	@p_id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM dbo.medecin 
	WHERE id = @p_id;
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_GetAll]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_GetAll]
	-- Add the parameters for the stored procedure here
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id, nom, prenom, adresse, tel, specialiteComplementaire, departement FROM dbo.medecin
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_GetAllByNomDep]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_GetAllByNomDep]
	-- Add the parameters for the stored procedure here
	@p_nom VARCHAR(100),
    @p_departement INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id, nom, prenom, adresse, tel, specialiteComplementaire, departement FROM dbo.medecin WHERE nom = @p_nom AND departement = @p_departement
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_GetAllDepartements]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_GetAllDepartements]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT departement FROM dbo.medecin
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_GetAllNoms]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_GetAllNoms]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT nom FROM dbo.medecin
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_GetByRapport]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_GetByRapport] 
	-- Add the parameters for the stored procedure here
	@p_medecin_id INT,
	@reportCount INT OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT @reportCount = COUNT(*) FROM dbo.rapport WHERE idMedecin = @p_medecin_id;
END
GO
/****** Object:  StoredProcedure [dbo].[Medecin_Update]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Medecin_Update]
	-- Add the parameters for the stored procedure here
	@p_id INT,
    @p_nom VARCHAR(50),
    @p_prenom VARCHAR(50),
    @p_adresse VARCHAR(100),
    @p_tel VARCHAR(20),
    @p_specialiteComplementaire VARCHAR(100),
    @p_departement VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 UPDATE dbo.medecin 
    SET nom = @p_nom, 
        prenom = @p_prenom,
        adresse = @p_adresse,
        tel = @p_tel,
        specialiteComplementaire = @p_specialiteComplementaire,
        departement = @p_departement
    WHERE id = @p_id;
END
GO
/****** Object:  StoredProcedure [dbo].[Rapport_GetAll]    Script Date: 17/04/2024 12:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Rapport_GetAll] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT dbo.rapport.id, date, motif, bilan, idVisiteur, idMedecin, nom, prenom FROM dbo.rapport INNER JOIN dbo.medecin ON dbo.medecin.id = dbo.rapport.idMedecin;

END
GO
USE [master]
GO
